<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app-old">
  <template>
    <style>
      :host {
        display: block;
        /* all: initial; /* esto inicia todas las propiedades que vienen desde fuera */
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Hello [[first_name]] [[last_name]] </h2>
    <h3>y tengo [[age]] años</h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="99" />
    <input type="text" value="{{age::input}}" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoAppOld extends Polymer.Element {
      static get is() { return 'frontproyecto-app-old'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: 'Jesus'
          }, last_name: {
            type: String,
            value: 'H.'
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoAppOld.is, FrontproyectoAppOld);
  </script>
</dom-module>
