<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        /* all: initial; /* esto inicia todas las propiedades que vienen desde fuera */
      }

      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }
    </style>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>

    <div class="row greybg">
      <div class="col-2 offset-1 redbg">Col red</div>
      <div class="col-3 offset-2 greenbg">Col green</div>
      <div class="col-1 col-sm-3 bluebg">Col blue</div>
    </div>

    <button class="btn btn-primary">Login</button>
    <button class="btn btn-secondary">Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-light">Logout</button>
    <button class="btn btn-dark">Logout</button>

    <!-- h2>Hello [[first_name]] [[last_name]] </h2>
    <h3>y tengo [[age]] años</h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="99" />
    <input type="text" value="{{age::input}}" / -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: 'Jesus'
          }, last_name: {
            type: String,
            value: 'H.'
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
