<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="login" class="btn btn-primary">Login</button hidden$="{}"></spam>
    <spam hidden$="{{!isLogged}}">Bienvenido!!!</spam>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json";
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorLogin extends Polymer.Element {
      static get is() { return 'emisor-login'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login (){
          console.log("El usuario ha pulsado el botón");
          console.log("email: " + this.email);
          console.log("password: " + this.password);

          var loginData = {
            "email" : this.email,
            "pwd" : this.password
          };

          console.log(loginData);

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

          console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        console.log("Legaron los resultados de la API");
        console.log(data.detail.response);

        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }


      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
      }
    }

    window.customElements.define(EmisorLogin.is, EmisorLogin);
  </script>
</dom-module>
