<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index">Apitechu BANK</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a></a></li>
        </ul>
      </div>
    </nav>

    <div class="panel panel-default">
      <div class="panel-heading">Registrese</div>
      <div class="panel-body">
        <div class="well">
          <input placeholder="Email" type="email" value="{{email::input}}"></input>
          <input placeholder="Password" type="password" value="{{password::input}}"></input>
        </div>
        <div>
            <button on-click="login" class="btn btn-info">Login</button hidden$="{}"></spam>
            <a href="../createuser" class="btn btn-info" role="button">Nuevo usuario</a>
        </div>
      </div>
    </div>
  </div>

    <spam hidden$="{{isLogged}}">Usuario o pwd incorrectos!!!</spam>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: true
          }
        };
      }

      login (){
          console.log("El usuario ha pulsado el botón");
          console.log("email: " + this.email);
          console.log("password: " + this.password);

          var loginData = {
            "email" : this.email,
            "pwd" : this.password
          };

          console.log(loginData);

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

          console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }


      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
          this.isLogged = false;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
