<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">Crear Movimiento para la cuenta {{idAccount}}</div>
          <div class="panel-body">
            <select value="{{paymenttype::change}}">
              <option value="Abono">Abono</option>
              <option value="Cargo">Cargo</option>
            </select>
            <span>Importe: </span><input placeholder="Importe" type="Importe" value="{{amount::input}}"></input>
            <select value="{{currency::change}}">
              <option value="EUR">Euros</option>
              <option value="USD">Dolares</option>
            </select>
            <br></br>
            <button on-click="createmovement" class="btn btn-info">Alta Movimiento</button hidden$="{}"></spam>
            <a target="_parent" href="./movements" class="btn btn-info" role="button">Volver</a>
          </div>
        </div>
      </div>

    <iron-ajax
      id="docreatemovement"
      url="http://localhost:3000/apitechu/v1/user/{{id}}/accounts/{{idAccount}}/movements"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearMovimiento extends Polymer.Element {
      static get is() { return 'crear-movimiento'; }
      static get properties() {
        return {
          amount: {
            type: String
          }, currency: {
            type: String,
            value: "EUR"
          }, paymenttype: {
            type: String,
            value: "Abono"
          }
        };
      }

      createmovement (){
          console.log("El usuario ha pulsado el botón de nuevo movimiento");
          console.log("amount: " + this.amount);
          console.log("currency: " + this.currency);
          console.log("currency: " + this.paymenttype);

          var newmovementData = {
            "amount" : this.amount,
            "currency" : this.currency,
            "paymenttype" : this.paymenttype
          };

          console.log(newmovementData);

          this.$.docreatemovement.body = JSON.stringify(newmovementData);
          this.$.docreatemovement.generateRequest();

          console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        window.location = "./movements";
      }


      showError (error) {
          console.log("Ha habido un error al crear el movimiento");
          console.log(error);
      }
    }

    window.customElements.define(CrearMovimiento.is, CrearMovimiento);
  </script>
</dom-module>
