<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Los moviemientos de la cuenta {{idAccount}} son</div>
        <div class="panel-body">
          <table class="table">
               <thead>
                 <tr>
                   <th>Fecha</th>
                   <th>Tipo</th>
                   <th>Importe</th>
                   <th>Divisa</th>
                 </tr>
               </thead>
               <tbody>
                 <template is="dom-repeat" items="{{movimientos}}">
                   <tr>
                     <td><span>{{item.timestamp}}</span></td>
                     <td><span>{{item.paymenttype}}</span></td>
                     <td><span>{{item.amount}}</span></td>
                     <td><span>{{item.currency}}</span></td>
                   </tr>
                 </template>
              </tbody>
            </table>
            <a href="../../accounts/{{idAccount}}/newmovement" class="btn btn-info" role="button">Nuevo Movimiento</a>
            <!-- <a target="_parent" href="../../accounts" class="btn btn-info" role="button">Volver</a> -->
            <a href="../../accounts" class="btn btn-info" role="button">Volver</a>
        </div>
      </div>
    </div>

    <iron-ajax auto
      id="getMovements"
      url="http://localhost:3000/apitechu/v1/user/{{id}}/accounts/{{idAccount}}/movements"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
                return {
                  movimientos: {
                    type: Array
                  }
                }
              }

      manageAJAXResponse (data) {
        console.log("LLegaron los resultados de la API de los movimientos");
        console.log(data.detail.response);

        this.movimientos = data.detail.response;
      }

      showError (error) {
          console.log("Ha habido un error al recuperar los movimientos");
          console.log(error);
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
