<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy el receptor</h3>
    <h3>Este es el curso [[course]]</h3>
    <h3>del año [[year]]</h3>
    <input type="text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String,
            observer: '_courseChanged'
          }, year : {
            type: Number
          }
        };
      }

      _courseChanged(newValue, oldValue) {
          console.log("El valor del course ha cambiado");
          console.log("El valor viejo era: " + oldValue);
          console.log("El valor nuevo es: " + newValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
