<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="input-group">
      <span class="input-group-addon">Se ha dado de alta la cuenta {{new_account}}</span>
    </div>
    <span></span><br></br>

    <a target="_parent" href="../../user/{{id}}" class="btn btn-info" role="button">Volver</a>

    <iron-ajax auto
      id="NewAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/newaccount"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearCuenta extends Polymer.Element {
      static get is() { return 'crear-cuenta'; }
      static get properties() {
        return {
          new_account: {
            type: String
          }
        };
      }

      manageAJAXResponse (data) {
        console.log("LLegaron los resultados de la API");
        console.log(data.detail.response);
        // console.log(data.detail.response.IBAN);

        this.new_account = data.detail.response.IBAN;
      }


      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
      }
    }

    window.customElements.define(CrearCuenta.is, CrearCuenta);
  </script>
</dom-module>
