<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Sus cuentas son</div>
        <div class="panel-body">
          <table class="table">
               <thead>
                 <tr>
                   <th>Nº Cuenta</th>
                   <th>Saldo</th>
                   <th> </th>
                 </tr>
               </thead>
               <tbody>
                 <template is="dom-repeat" items="{{cuentas}}">
                   <tr>
                     <td><span>{{item.IBAN}}</span></td>
                     <td><span>{{item.balance}}</span></td>
                     <td><a href="../../user/{{id}}/accounts/{{item.IBAN}}/movements">ver movimientos</a></td>
                   </tr>
                 </template>
              </tbody>
            </tbody>
          </table>
          <a href="../../user/{{id}}/newaccount" class="btn btn-info" role="button">Nueva Cuenta</a>
        </div>
      </div>
    </div>



    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/"
      handle-as="json"
      content-type="application/json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
                return {
                  cuentas: {
                    type: Array
                  }
                }
              }

      manageAJAXResponse (data) {
        console.log("LLegaron los resultados de la API de las cuentas");
        console.log(data.detail.response);

        this.cuentas = data.detail.response;
      }

      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
