<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="../index">Apitechu BANK</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a></a></li>
              <li><a></a></li>
              <li><a></a></li>
              <li class="active"><a>Bienvenido [[first_name]] [[last_name]]</a></li>
              <li><a></a></li>
              <li></li>
              <li></li>

              <li><a href="../logout/{{id}}">logout</a></li>
            </ul>
          </div>
        </nav>

    </header>

    <iframe height="500px" width="100%" src="../user/{{id}}/accounts" name="iframe_a"></iframe>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    />

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/{{id}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponseLogout"
      on-error="showErrorLogout"
    />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail);
        console.log(data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }

      logout () {
          console.log("El usuario ha pulsado el botón de logout");

          this.$.doLogout.generateRequest();

          console.log("Peticion enviada");
      }

      manageAJAXResponseLogout (data) {
        console.log("Llegaron los resultados de la API para el logout");
        console.log(data.detail.response);

        // this.isLogged = true;
        window.location = "../index";
      }

      showErrorLogout (error) {
        console.log("Ha habido un error en el logout");
        console.log(error);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
