<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/{{id}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          isLogged: {
            type: Boolean,
            value: true
          }
        };
      }


      manageAJAXResponse (data) {
        console.log("Legaron los resultados de la API");
        console.log(data.detail.response);

        this.isLogged = false;
        window.location = "../index";


      }


      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
