<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-login/emisor-login.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="visor-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Apitechu BANK</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a></a></li>
          <li class="active"><a>El Tiempo [[min]] - [[max]]</a></li>
        </ul>
      </div>
    </nav>
    <div>
        <a href="../login" class="btn btn-info" role="button">Registrese</a>
        <a href="../createuser" class="btn btn-info" role="button">Nuevo usuario</a>
    </div>

    <iron-ajax auto
      id="getForecast"
      url="http://localhost:3000/apitechu/getTiempoRivas"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorInicio extends Polymer.Element {
      static get is() { return 'visor-inicio'; }
      static get properties() {
        return {
          max: {
            type: String
          }, min: {
            type: String
          }
        };
      }

      manageAJAXResponse (data) {
        console.log("LLegaron los resultados de la API del tiempo");
        console.log(data.detail.response);

        this.max = data.detail.response.max;
        this.min = data.detail.response.min;
      }

      showError (error) {
          console.log("Ha habido un error al recuperar el tiempo");
          console.log(error);
      }

    }

    window.customElements.define(VisorInicio.is, VisorInicio);
  </script>
</dom-module>
