<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index">Apitechu BANK</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a></a></li>
        </ul>
      </div>
    </nav>

    <div class="input-group">
      <span class="input-group-addon">Nombre</span>
      <input id="first_name" type="text" class="form-control" name="Nombre" placeholder="Nombre"  value="{{first_name::input}}">
    </div>
    <br></br>
    <div class="input-group">
      <span class="input-group-addon">Apellidos</span>
      <input id="last_name" type="text" class="form-control" name="Apellidos" placeholder="Apellidos" value="{{last_name::input}}">
    </div>
    <br></br>
    <div class="input-group">
      <span class="input-group-addon">Telefono</span>
      <input id="phone" type="text" class="form-control" name="Telefono" placeholder="Telefono" value="{{phone::input}}">
    </div>
    <br></br>
    <div class="input-group">
      <span class="input-group-addon">Email</i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Email"  value="{{email::input}}">
    </div>
    <br></br>
    <div class="input-group">
      <span class="input-group-addon">Password</i></span>
      <input id="pwd" type="password" class="form-control" name="password" placeholder="Password" value="{{password::input}}">
    </div>
    <br></br>


    <button on-click="newuser" class="btn btn-info">Alta Usuario</button hidden$="{}"></spam>
    <a href="../index" class="btn btn-info" role="button">Volver</a>

    <iron-ajax
      id="doNewUser"
      url="http://localhost:3000/apitechu/v4/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearUsuario extends Polymer.Element {
      static get is() { return 'crear-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, phone: {
              type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }
        };
      }

      newuser (){
          console.log("El usuario ha pulsado el botón de nuevo usuario");
          console.log("first_name: " + this.first_name);
          console.log("last_name: " + this.last_name);
          console.log("phone: " + this.phone);
          console.log("email: " + this.email);
          console.log("password: " + this.password);

          var newUserData = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "phone" : this.phone,
            "email" : this.email,
            "pwd" : this.password
          };

          console.log(newUserData);

          this.$.doNewUser.body = JSON.stringify(newUserData);
          this.$.doNewUser.generateRequest();

          console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        console.log("LLegaron los resultados de la API");
        console.log(data.detail.response);

        // this.isLogged = true;
        window.location = "login";
      }


      showError (error) {
          console.log("Ha habido un error");
          console.log(error);
      }
    }

    window.customElements.define(CrearUsuario.is, CrearUsuario);
  </script>
</dom-module>
